<button class="btn waves-effect" (click)="openOnglet(1)">Onglet 1</button>
<button class="btn waves-effect" (click)="openOnglet(2)">Onglet 2</button>
<button class="btn waves-effect" (click)="openOnglet(3)">Onglet 3</button>

<ul class="collapsible" mCollapsible (mInstance)="mCollapsible = $event">
  <li>
    <div class="collapsible-header"><i class="material-icons">filter_drama</i>First</div>
    <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
  </li>
  <li>
    <div class="collapsible-header"><i class="material-icons">place</i>Second</div>
    <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
  </li>
  <li>
    <div class="collapsible-header"><i class="material-icons">whatshot</i>Third</div>
    <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
  </li>
</ul>